:root {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
  --main-secodary-text-color: #f4f4fd;
  --main-title-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --border-color-btn-portfolio: #e7e9fc;
}
/* ===========Default=========== */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link-item:hover,
.link-item:focus {
  color: #404bbf;
}
.feedback:hover,
.feedback:focus {
  color: #404bbf;
}
.btn-menu-item:hover,
.btn-menu-item:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* ===========/Default=========== */

/* ===========Шапка=========== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-logo {
  color: var(--main-title-color);
}
.nav-menu {
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}
.link-item {
  display: flex;
  padding: 24px 0;
  color: var(--main-title-color);
}
.feedback-menu {
  font-style: normal;
  display: flex;
  margin-left: auto;
}
.feedback-list {
  display: flex;
  gap: 40px;
}
.feedback {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* ===========/Шапка=========== */

/* ===========Hero=========== */
.section-hero {
  margin: auto;
  padding-top: 188px;
  max-width: 1440px;
  padding-bottom: 188px;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  max-width: 496px;
  margin-bottom: 48px;
  color: #ffffff;
}
.main-btn {
  display: block;
  border: none;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* ===========/Hero=========== */
/* ===========Main=========== */
.main-content {
  margin: auto;
}
/* About section */
.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
}
.about-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list-skills {
  display: flex;
  gap: 24px;
}
.list-skills:last-child {
  margin-right: 0;
}
.skill {
  width: calc((100% - 72px) / 4);
}
.skill-name {
  text-align: start;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.skill-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* /About section */

/* Specialization section */
.specialization-section {
  padding-bottom: 120px;
}
.specialization-list {
  display: flex;
  gap: 24px;
}

.img-special {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
}
/* /Specialization section */

/* Team section */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-secodary-text-color);
}
.minor-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-section {
  padding: 120px 0 120px;
  background-color: var(--main-secodary-text-color);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list:last-child {
  margin-right: 0;
}
.team-list-item {
  width: calc((100% - 48px) / 3);
  width: 264px;
  min-height: 380px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}
.name-workers {
  padding: 32px 0px;
}
.employee-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.job-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-icon {
  display: flex;
  fill: #f4f4fd;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
/* /Team section */
/* Section Customers */
.section-customers {
  padding: 120px 0 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-logo {
  height: 88px;
  width: calc((100% - 120px) / 6);
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}
/* /Section Customers */
/* ===========/Main=========== */

/* ==========Portfolio========== */
.portfolio {
  padding: 96px 0 120px;
}
.btn-menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-menu-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--border-color-btn-portfolio);
  border-radius: 4px;
  background-color: var(--main-secodary-text-color);
  color: #4d5ae5;
  cursor: pointer;
}
.btn-menu-item:hover,
.btn-menu-item:focus-visible {
  border: 1px solid transparent;
  border-color: transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-link-portfolio {
  width: calc((100% - 48px) / 3);
}
.link-portfolio {
  display: block;
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.employes-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  padding: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0px, 100%);
  transition: transform 500ms linear;
  color: #ffffff;
  background-color: #4d5ae5;
}
.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
  transform: translate(0%);
}
.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.examples-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.examples-text-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* ==========/Potrfolio========== */

/* ===========Footer=========== */
.footer {
  margin: auto;
  padding: 100px 0;
  background-color: var(--main-title-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-left-content {
  margin-right: 120px;
}
.main-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-right {
  align-items: center;
  padding: 0px;
  color: var(--main-secodary-text-color);
}
.footer-text {
  max-width: 264px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-secodary-text-color);
}
.title-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

.icon-list {
  display: flex;
  gap: 16px;
}
.item-social {
  width: 40px;
  height: 40px;
}

.icon-social-footer {
  fill: #f4f4fd;
}
/* ===========/Footer=========== */
